{{!--
    Global Template: Counts down from a set date

    @author: Juliano Polito (jpolito@salesforce.com)

    Requirements:
    1) Set the content zone(s) to that defined in your Sitemap.
    2) Set title and target date, customize colors
    3) minimum size: 350px X 300px - height 300px locked

    Customizations:
    1) Title color
    2) Font and Box color
    3) Image background (will resize to fit)
    4) Target date 

--}}
<div id="counterContainer" style="background-image: url('{{bgUrl}}');">
    <div id="secondContainer">
        <h1 class="counterTitle">{{countTitle}}</h1>
        <div id="countSF"  
        data-evg-campaign-id="{{campaign}}"
        data-evg-experience-id="{{experience}}"
        data-evg-user-group="{{userGroup}}"></div>
    </div>
</div>
