#counterContainer{
  position: relative !important;
  width:100% !important;
  height: 300px !important;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 100%  !important;
  border:greenyellow 1px solid

}
#secondContainer {
  min-width: 390px  !important;
  width:50% !important;
  margin: 0 !important;
  position: absolute !important;
  top:  20% !important;
  left: 50% !important;
  -ms-transform: translateY(-50%) !important;
  transform: translateY(-50%) !important;
  -ms-transform: translateX(-50%) !important;
  transform: translateX(-50%) !important;
}


.flip-clock {
  text-align: center;
  perspective: 400px;
  margin: 20px auto;
  
}
.counterTitle{
  color: var(--title-color); 
  font-family: 'Open Sans', sans-serif; 
  font-size: 30px;
  font-weight: 300; 
  line-height: 52px; 
  margin: 0 0 22px; 
  text-align: center; 
}
.flip-clock__piece {
  display: inline-block;
  margin: 0 5px;
}

.flip-clock__slot {
  font-size: 1vw;
  color:var(--title-color)
}

@halfHeight: 0.72em;
@borderRadius: 0.15em;

.card {
  display: block;
  position: relative; 
  padding-bottom: 0.72em;
  font-size: 3vw;
  line-height: 0.95;
}

.card__top,
.card__bottom,
.card__back::before,
.card__back::after {
  display: block;
  height: 0.72em;;
  color: var(--font-color1);
  background:var(--box-color1);
  padding: 0.25em 0.25em;
  border-radius: 0.15em 0.15em 0 0;
  backface-visiblity: hidden;
  transform-style: preserve-3d;
  width: 1.8em;
  transform: translateZ(0);
}

.card__bottom { 
  color: var(--font-color2);
  position: absolute;
  top: 50%;
  left: 0;
  border-top: solid 1px #000;
  background: var(--box-color2); 
  border-radius: 0 0 0.15em 0.15em; 
  pointer-events: none;
  overflow: hidden;
}

.card__bottom::after {
  display: block;
  margin-top: -0.72em;;
}

.card__back::before,
.card__bottom::after {
  content: attr(data-value);
}

.card__back {
  position: absolute;
  top: 0;
  height: 100%;
  left: 0%;
  pointer-events: none;
}

.card__back::before {
  position: relative;
  z-index: -1;
  overflow: hidden;
}

.flip .card__back::before {
  animation: flipTop 0.3s cubic-bezier(.37,.01,.94,.35);
  animation-fill-mode: both;
  transform-origin: center bottom;
}

.flip .card__back .card__bottom {
  transform-origin: center top;
  animation-fill-mode: both;
  animation: flipBottom 0.6s cubic-bezier(.15,.45,.28,1);// 0.3s; 
}

@keyframes flipTop {
  0% {
    transform: rotateX(0deg);
    z-index: 2;
  }
  0%, 99% {
    opacity: 0.99;
  }
  100% {
    transform: rotateX(-90deg);
    opacity: 0;
  }
}

@keyframes flipBottom {
  0%, 50% {
    z-index: -1;
    transform: rotateX(90deg);
    opacity: 0;
  }
  51% {
    opacity: 0.99;
  }
  100% {
    opacity: 0.99;
    transform: rotateX(0deg);
    z-index: 5;
  }
}

